body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    color: #2A4A5C;
    
}


.left {
    background-image: url(./css-task/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
    margin: 0;
}

.right {
    width: 50%;
    height: 100%;
}

.left img {
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;
}

.main-top-text {
    color: #7B8A92;
    font-size: 35px;
    margin-top: 90px;
    margin-left: 60px;
    margin-bottom: 10px;
    padding: 0;

}

.under-top-text {
    font-size: 25px;
    color: #96A5B1;
    margin-left: 60px;
    margin-top: 0;
    padding: 0;
   
}

.img-box {
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.fcb-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding-left: 30px;
    width: 350px;
    height: 50px;
    background-color: #255A9B;
}

.fcb-btn img {
    width: 15px;

}

.link-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding-left: 30px;
    width: 350px;
    height: 50px;
    background-color: #0076B6;

}

.link-btn img {
    width: 25px;

}


/* .img-box img {
    margin-top: 30px;
    width: 300px;
    max-width: 100%;
} */

/* .link-img {
    margin-right: 60px;
} */

.divider {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.email-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid #EEEEEE;
    margin-left: 60px;
    color: gray;
}

.email-box input {
    border: none;
    width: 250px;
}   

.phone-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid #EEEEEE;
    margin-right: 60px;
    color: gray;

}

.phone-box input {
    border: none;
    width: 250px;
}

.login {
    margin-left: 0;
    margin-top: 50px;
    display: flex;
    justify-content: center ;
    gap: 10px;
    flex-wrap: wrap;
}

.login .email-box:hover {
    border-left: 2px solid blue;
}

.login .phone-box:hover {
    border-left: 2px solid blue;
}

.middle-text {
    color: #7B8A92;
    font-size: 25px;
    padding-top: 20px;
    flex-basis: 100%;
    padding-left: 60px;
}

.under-middle-text {
    margin-left: 60px;
    color: #96A5B1;
    flex-basis: 100%;
    font-size: 15px;
    display: flex;
    justify-content: start;
}

.rad-btn {
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    color: gray;
    flex-basis: 100%;
}

.terms {
    flex-basis: 100%;
    padding-left: 60px;
    margin-top: 30px;
    color: gray;
    font-size: 15px;
}

.create-acc-btn {
    flex-basis: 100%;
    margin-left: 60px;
    margin-top: 40px;
    width: 150px;
}

.create-acc-btn button {
    background-color: #3698FB;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    color: white;
    font-size: 20px;
}

.email-box input {
    color: #AFAFAF;
}

.phone-box input {
    color: #AFAFAF;
}

.rad-btn label[title="radio1"],label[title="radio2"],label[title="radio3"],label[title="radio4"] {
    color: #AFAFAF;
}

.user-data-cont {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.text {
    color: white;
    font-size: 15px;
}


/* .img-box {
    width: 735px;
    margin-left: 60px;
    margin-right: 60px;
    gap: 2px;
    display: flex;
    justify-content: space-between;
  
}

.img-box img {
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    width: 200px;
}

.divider {
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: gray;
    flex-direction: row; */
}

/* .email-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid lightgray;
    margin-left: 60px;
    color: gray;
}

.email-box input {
    border: none;
    width: 250px;
}

.phone-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid lightgray;
    margin-right: 60px;
    color: gray;

}

.phone-box input {
    border: none;
    width: 250px;
}

.user-data {
    display: flex;
    justify-content: space-between;
}

.middle-text {
    font-size: 20px;
    margin-left: 60px;
    margin-top: 50px;
}

.under-middle-text {
    font-size: 15px;
    color: gray;
    margin-left: 60px;
    margin-top: 15px;
    padding-top: 0;
}

.rad-btn {
    margin: 30px;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;

}

.title {
    width: 1px;
} */